.container
  .left
      .head
      .subject
        .word Contact
        .block
      hr
      .contact
        i.fa.fa-phone
        span +886 9 9420 1314</br>
        i.fa.fa-envelope
        span yurik_ystk@gmail.com</br>
        i.fa.fa-home
        span twitter.com/ystk_yrk</br>
        i.fa.fa-map-marker
        span Tokyo, Japan
      .subject
        .word Personal
        .block
        hr
      .personal   
        .text.title Birthday
        span : 	July 22, 1988</br>
        hr
        .text.title Relationship
        span : Single</br>
        hr
        .text.title Nationality
        span : Japanese</br>
        hr
        .text.title Laguage
        span : English
        hr
      .subject
        .word Interest
        .block
        hr
      .interest
        ul
          li.text Love Shuffle
          li.text Galileo 2
          li.text Anne and Hanako
          li.text Tarareba Musume
       
      .subject 
        .word Connect
        .block
        hr
      .connect
        i.fa.fa-twitter-square
        span twitter.com/ystk_yrk</br>
        i.fa.fa-facebook-square
        span facebook.com/ystk_yrk</br>
        i.fa.fa-tumblr-square
        span yoshitakayuriko.tumblr</br>
        i.fa.fa-google-plus-square
        span plus.google.com/ystkyrk
  .right
      .name
        h1.first_name YURIKO
        h1.last_name YOSHITAKA
        span.occupation Japanese actress
        hr.name
      .subject 
        .word Profile
        .block
      .profile
        span Yoshitaka made her acting debut in 2006. She was given the lead role in the live-action adaptation of Hitomi Kanehara's award-winning novel Snakes and Earrings in 2007. Portraying Lui, a teenager whose life goes into a downward spiral after meeting the forked-tongued and tattooed Ama, the role was Yoshitaka's breakthrough role.
        .character
          span.c COMMUNICATION
          .line
            .line_percent.p70
          span.percent 70%
          span.c CREATIVITY
          .line
            .line_percent.p90
          span.percent 90%
          span.c TEAMWORK
          .line
            .line_percent.p70
          span.percent 70%
          span.c ORGANIZATION
          .line
            .line_percent.p60
          span.percent 60%
          span.c LEADERSHIP
          .line
            .line_percent.p90
          span.percent 90%
      hr
      .subject 
        .word Work Experience 
        .block
      .work_experience
        
        .year 2015 ● 
        .triangle
        .occupation
          .oc_position Best Newcomer
          .company Yokohama Film Festival
          span.description adaptation of Hitomi Kanehara's award-winning</br>
        .year 2013 ● 
        .triangle
        .occupation
          .oc_position Best Newcomer
          .company Yokohama Film Festival
          span.description adaptation of Hitomi Kanehara's award-winning</br>
        .year 2012 ● 
        .triangle
        .occupation
          .oc_position Best Newcomer
          .company Yokohama Film Festival
          span.description adaptation of Hitomi Kanehara's award-winning                  
        .timeline
        
      hr
      .subject 
        .word Education
        .block
      .education
        .little_left
          .specialize Rinko Kamata
          .school Tokyo Tarareba Musume
          hr
          span.description 2017 Tokyo Tarareba Musume Rinko Kamata Lead role
       
        .little_right
          .specialize Hanako Muraoka
          .school 	Anne and Hanako
          hr
          span.description 2014 Anne and Hanako Hanako Muraoka Lead role
      hr
      .subject 
        .word Personal Skill
        .block
      .personal_skill
        .little_left
          span.c.skill PHOTOSHOP
          .line.skill
            .line_percent.p80
          span.c.skill ILLUSTRATOR
          .line.skill
            .line_percent.p90
          span.c.skill INDESIGN
          .line.skill
            .line_percent.p60
        .little_right
          span.c.skill MS OFFICE
          .line.skill
            .line_percent.p90
          span.c.skill HTML 5
          .line.skill
            .line_percent.p70
          span.c.skill CSS
          .line.skill
            .line_percent.p80
      hr